@import "style.css";

header{
    width: 100%;
}

nav{
    margin-top: 20px;
}

nav > ul{
    width: 100%;
    height: auto;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
}

main{
    width: 100%;
}

footer{
    width: 100%;
}

.grid3{
    display: block;
}