/* Officer balls */
:root{
    --content-background-color: rgba(255, 255, 255, 0.85);
    --pagewidth: 960px;
}

/* Reset some default browser styles */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: cornflowerblue;
}

header{
    /* background-color: rgba(255, 255, 255, 0.75); */
    background-color: var(--content-background-color);
    width: var(--pagewidth);
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    margin-top: -7px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

header > p{
    text-align: center;
    font-family: sans-serif;
}

main{
    background-color: var(--content-background-color);
    width: var(--pagewidth);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top-width: 10px;
    border-top-style: dotted;
    border-top-color: white;
    margin: 0px auto;
}

footer{
    background-color: var(--content-background-color);
    width: var(--pagewidth);
    border: 10px solid green;
    height: 50px;
    margin: 0px auto;
    margin-top: 50px;

}

h1{
    color: #777777;
    text-align: center;
    text-decoration: underline;
}

h2, h3{
    font-family: cursive;
}

h2{
    color: green;
}