@import url("https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

:root{
    --heading-font: 'Honk', serif;
    --body-font: 'Londrina Solid';
    --album_cover_width: 300px
}

/* Gridded Nav */
nav > ul{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    padding: 20px;
    align-content: center;
    align-items: center;
}

nav > ul > li{
    padding: 10px;
    width: auto;
    height: 100px;
    list-style: none;
    text-align: center;
    background-color: #ffffbb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

nav > ul > li > a{
    font-family: var(--body-font);
    font-weight: 300;
    color: black;
    /*font-size: 20px;*/
    /*width: 100px;*/
    height: auto;
    text-decoration: none;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
}

nav > ul > li:hover{
    /*background-color: blueviolet;*/
    transition: all 0.5s ease;
}

/* Takes care of all gridded sections (got a little help from Claude with this part) */
.level > ul{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    align-content: center;
    align-items: start;
}

.level > ul > li{
    align-content: center;
    align-items: top;
}

.level > ul > li > figure > figcaption{
    font-family: var(--body-font);
    font-weight: 300;
    color: white;
    width: var(--album_cover_width);
}

/* Class 1 */
.heading{
    font-family: var(--heading-font);
    text-align: center;
    color: white;
}

/* Class 2 */
.album_cover{
    height: var(--album_cover_width);
    width: var(--album_cover_width);
}

/* Class 3 */
.album_title{
    font-weight: 400;
}

/* HTML tag styling 1 */
p{
    font-family: var(--body-font);
    font-weight: 300;
    margin: 20px;
    color: white;
}

/* HTML tag styling 2 */
body{
    background-color: black;
}

/* HTML tag styling 3 */
#beyond > ul{
    font-family: var(--body-font);
    font-weight: 300;
    color: white;
}
